
  
  <form nz-form [formGroup]="formGroup" >
  <nz-form-label>รหัสผ่าน</nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrorTpl">
      <nz-input-group nzPrefixIcon="lock" class="form-input">
        <input
          nz-input
          type="password"
          [placeholder]="'รหัสผ่าน'"
          [formControlName]="controlName"
        />
      </nz-input-group>
    </nz-form-control>

    <ng-template #passwordErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">กรุณากรอกรหัสผ่าน</ng-container>
      <ng-container *ngIf="control.hasError('minlength')">ต้องมีอย่างน้อย 6 ตัวอักษร</ng-container>
      <ng-container *ngIf="control.hasError('passwordComplexity')">
        รหัสผ่านต้องมีทั้งตัวอักษรพิมพ์ใหญ่ พิมพ์เล็ก และตัวเลข
      </ng-container>
    </ng-template>
  </nz-form-item>
</form>
