/* Red Colors */
.white-color {
  color: white;
}

.background-white-color {
  background-color: white;
}

.black-color {
  color: black;
}

.indian-red-color {
  color: #CD5C5C;
}


.light-coral-color {
  color: #F08080;
}

.salmon-color {
  color: #FA8072;
}

.dark-salmon-color {
  color: #E9967A;
}

.light-salmon-color {
  color: #FFA07A;
}

.crimson-color {
  color: #DC143C;
}

.red-color {
  color: #FF0000;
}

.fire-brick-color {
  color: #B22222;
}

.dark-red-color {
  color: #8B0000;
}

/* Pink Colors */
.pink-color {
  color: #FFC0CB;
}

.light-pink-color {
  color: #FFB6C1;
}

.hot-pink-color {
  color: #FF69B4;
}

.deep-pink-color {
  color: #FF1493;
}

.medium-violet-red-color {
  color: #C71585;
}

.pale-violet-red-color {
  color: #DB7093;
}

/* Orange Colors */
.light-salmon-orange-color {
  color: #FFA07A;
}

.coral-color {
  color: #FF7F50;
}

.tomato-color {
  color: #FF6347;
}

.orange-red-color {
  color: #FF4500;
}

.dark-orange-color {
  color: #FF8C00;
}

.orange-color {
  color: #FFA500;
}

/* Yellow Colors */
.gold-color {
  color: #FFD700;
}

.yellow-color {
  color: #FFFF00;
}

.light-yellow-color {
  color: #FFFFE0;
}

.lemon-chiffon-color {
  color: #FFFACD;
}

.light-goldenrod-yellow-color {
  color: #FAFAD2;
}

.papaya-whip-color {
  color: #FFEFD5;
}

.moccasin-color {
  color: #FFE4B5;
}

.peach-puff-color {
  color: #FFDAB9;
}

.pale-goldenrod-color {
  color: #EEE8AA;
}

.khaki-color {
  color: #F0E68C;
}

.dark-khaki-color {
  color: #BDB76B;
}

/* Purple Colors */
.lavender-color {
  color: #E6E6FA;
}

.thistle-color {
  color: #D8BFD8;
}

.plum-color {
  color: #DDA0DD;
}

.violet-color {
  color: #EE82EE;
}

.orchid-color {
  color: #DA70D6;
}

.fuchsia-color {
  color: #FF00FF;
}

.magenta-color {
  color: #FF00FF;
}

.medium-orchid-color {
  color: #BA55D3;
}

.medium-purple-color {
  color: #9370DB;
}

.rebecca-purple-color {
  color: #663399;
}

.blue-violet-color {
  color: #8A2BE2;
}

.dark-violet-color {
  color: #9400D3;
}

.dark-orchid-color {
  color: #9932CC;
}

.dark-magenta-color {
  color: #8B008B;
}

.purple-color {
  color: #800080;
}

.indigo-color {
  color: #4B0082;
}

.slate-blue-color {
  color: #6A5ACD;
}

.dark-slate-blue-color {
  color: #483D8B;
}

.medium-slate-blue-color {
  color: #7B68EE;
}

/* Green Colors */
.green-yellow-color {
  color: #ADFF2F;
}

.chartreuse-color {
  color: #7FFF00;
}

.lawn-green-color {
  color: #7CFC00;
}

.lime-color {
  color: #00FF00;
}

.lime-green-color {
  color: #32CD32;
}

.pale-green-color {
  color: #98FB98;
}

.light-green-color {
  color: #90EE90;
}

.medium-spring-green-color {
  color: #00FA9A;
}

.spring-green-color {
  color: #00FF7F;
}

.medium-sea-green-color {
  color: #3CB371;
}

.sea-green-color {
  color: #2E8B57;
}

.forest-green-color {
  color: #228B22;
}

.green-color {
  color: #008000;
}

.dark-green-color {
  color: #006400;
}

.yellow-green-color {
  color: #9ACD32;
}

.olive-drab-color {
  color: #6B8E23;
}

.olive-color {
  color: #808000;
}

.dark-olive-green-color {
  color: #556B2F;
}

.medium-aquamarine-color {
  color: #66CDAA;
}

.dark-sea-green-color {
  color: #8FBC8B;
}

.light-sea-green-color {
  color: #20B2AA;
}

.dark-cyan-color {
  color: #008B8B;
}

.teal-color {
  color: #008080;
}

/* Blue Colors */
.aqua-color {
  color: #00FFFF;
}

.cyan-color {
  color: #00FFFF;
}

.light-cyan-color {
  color: #E0FFFF;
}

.pale-turquoise-color {
  color: #AFEEEE;
}

.aquamarine-color {
  color: #7FFFD4;
}

.turquoise-color {
  color: #40E0D0;
}

.medium-turquoise-color {
  color: #48D1CC;
}

.dark-turquoise-color {
  color: #00CED1;
}

.cadet-blue-color {
  color: #5F9EA0;
}

.steel-blue-color {
  color: #4682B4;
}

.light-steel-blue-color {
  color: #B0C4DE;
}

.powder-blue-color {
  color: #B0E0E6;
}

.light-blue-color {
  color: #ADD8E6;
}

.sky-blue-color {
  color: #87CEEB;
}

.light-sky-blue-color {
  color: #87CEFA;
}

.deep-sky-blue-color {
  color: #00BFFF;
}

.dodger-blue-color {
  color: #1E90FF;
}

.cornflower-blue-color {
  color: #6495ED;
}

.medium-slate-blue-color {
  color: #7B68EE;
}

.royal-blue-color {
  color: #4169E1;
}

.blue-color {
  color: #0000FF;
}

.medium-blue-color {
  color: #0000CD;
}

.dark-blue-color {
  color: #00008B;
}

.navy-color {
  color: #000080;
}

.midnight-blue-color {
  color: #191970;
}

/* Brown Colors */
.cornsilk-color {
  color: #FFF8DC;
}

.blanched-almond-color {
  color: #FFEBCD;
}

.bisque-color {
  color: #FFE4C4;
}

.navajo-white-color {
  color: #FFDEAD;
}

.wheat-color {
  color: #F5DEB3;
}

.burly-wood-color {
  color: #DEB887;
}

.tan-color {
  color: #D2B48C;
}

.rosy-brown-color {
  color: #BC8F8F;
}

.sandy-brown-color {
  color: #F4A460;
}

.goldenrod-color {
  color: #DAA520;
}

.dark-goldenrod-color {
  color: #B8860B;
}

.peru-color {
  color: #CD853F;
}

.chocolate-color {
  color: #D2691E;
}

.saddle-brown-color {
  color: #8B4513;
}

.sienna-color {
  color: #A0522D;
}

.brown-color {
  color: #A52A2A;
}

.maroon-color {
  color: #800000;
}

/* White Colors */
.white-color {
  color: #FFFFFF;
}

.snow-color {
  color: #FFFAFA;
}

.honeydew-color {
  color: #F0FFF0;
}

.mint-cream-color {
  color: #F5FFFA;
}

.azure-color {
  color: #F0FFFF;
}

.alice-blue-color {
  color: #F0F8FF;
}

.ghost-white-color {
  color: #F8F8FF;
}

.white-smoke-color {
  color: #F5F5F5;
}

.sea-shell-color {
  color: #FFF5EE;
}

.beige-color {
  color: #F5F5DC;
}

.old-lace-color {
  color: #FDF5E6;
}

.floral-white-color {
  color: #FFFAF0;
}

.ivory-color {
  color: #FFFFF0;
}

.antique-white-color {
  color: #FAEBD7;
}

.linen-color {
  color: #FAF0E6;
}

.lavender-blush-color {
  color: #FFF0F5;
}

.misty-rose-color {
  color: #FFE4E1;
}

/* Gray Colors */
.gainsboro-color {
  color: #DCDCDC;
}

.light-gray-color {
  color: #D3D3D3;
}

.silver-color {
  color: #C0C0C0;
}

.dark-gray-color {
  color: #A9A9A9;
}

.gray-color {
  color: #808080;
}

.dim-gray-color {
  color: #696969;
}

.light-slate-gray-color {
  color: #778899;
}

.slate-gray-color {
  color: #4c5d6e;
}